<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Cookie Store Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
	<div ng-controller="CookieStoreSampleController" style="padding:20px;">

        <button class="btn" ng-click="saveEventToCookie(event)">Save Cookie</button>
        <button class="btn" ng-click="getEventFromCookie(event)">Get Cookie</button>
        <button class="btn" ng-click="removeEventCookie(event)">Remove Cookie</button>

	</div>

</div>

<script src="/libraries/jquery/jquery.min.js"></script>
<script src="/libraries/angularjs/angular.js"></script>
<script src="/libraries/angularjs/angular-resource.js"></script>
<script src="/libraries/angularjs/angular-cookies.js"></script>
<script src="/libraries/angularjs/angular-locale_th.js"></script>
<script src="/app/app.js"></script>
<script src="/app/controllers/CookieStoreSampleController.js"></script>
<script src="/app/services/ExceptionHandler.js"></script>
<script src="/libraries/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
